body {
    background-color: #f1f1f1;
}

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.wrapper-header {
    position: relative;
    height: 72px;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}

.wrapper-header .header-nav {
    position: relative;
    width: 1200px;
    height: 72px;
    margin: 0 auto;
    overflow: hidden;
}

.header-nav .sys-logo {
    float: left;
    height: 72px;
    line-height: 72px;
    cursor: pointer;
}

.header-nav .sys-logo img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.header-nav .sys-des {
    float: left;
    margin-top: 13px;
    height: 46px;
    color: #333;
    padding-left: 6px;
    cursor: pointer;
}

.header-nav .sys-des h1 {
    font-size: 18px;
    font-weight: bold;
}

.header-nav .sys-des p {
    font-size: 12px;
}

.header-nav .sys-header {
    float: right;
    height: 72px;
    line-height: 72px;
}

.header-nav .sys-header img {
    width: 46px;
    height: 46px;
}

.wrapper-content {
    position: relative;
    height: 100%;
    width: 100%;
}

.content-container {
    position: relative;
    width: 1200px;
    margin: 20px auto;
}

.wrapper-content .content-left {
    position: relative;
    float: left;
    width: 300px;
    margin-right: 10px;
}

.wrapper-content .content-right {
    position: relative;
    float: left;
    width: 890px;
}

.wrapper-footer {
    position: relative;
    height: 100px;
    line-height: 100px;
    width: 100%;
    color: #aaa;
    text-align: center;
}

.wrapper-footer>p>a {
    color: #aaa;
}

.ivu-select-dropdown {
    width: initial;
    border-radius: 0;
}

.ivu-dropdown-item {
    color: #666;
    font-size: 15px!important;
}

.ivu-modal-footer {
    text-align: center;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

h1 {
    font-weight: normal;
}

.button {
    display: inline-block;
    width: 100%;
    height: 46px;
    line-height: 46px;
    border: 0;
    outline: none;
    text-align: center;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #f4284f, #f35733);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #f4284f, #f35733);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #f4284f, #f35733);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #f4284f, #f35733);
    /* 标准的语法 */
    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#f4284f, endColorstr=#f35733);  
}

.button:hover {
    color: #fff;
    background: -webkit-linear-gradient(left, #c3243d, #c2452a);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #c3243d, #c2452a);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #c3243d, #c2452a);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #c3243d, #c2452a);
    /* 标准的语法 */
    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#f4284f, endColorstr=#f35733);  
}

a {
    /*    display: inline-block; 对分页组件有影响*/
    text-decoration: none;
    -webkit-backface-visibility: hidden;
/*    color: #323232;*/
}

img {
    border: none;
    vertical-align: middle;
/*    width: inherit;*/
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #aaa;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #aaa;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #aaa;
}

.descriptive-content textarea {
    border: 0;
    outline: none;
    color: #999;
    line-height: 1.8em;
}

.descriptive-content textarea:focus {
    color: #555;
}

.preview-mask{
    position: fixed;
    left:0;
    top:0px;
    width: 100%;
    height:100%;
    overflow: auto;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
}

.preview-mask img{
    max-width: 750px;
    margin: 100px auto;
}
.previewclose{
    position: absolute;
    right:25px;
    top:25px;  
    color:#fff; 
    cursor: pointer;
}

/*chrome bg is yellow*/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}

.ivu-modal-header {
    border-bottom: none;
}

.modal-content {
    text-align: center;
}

.modal-content p {
    line-height: 2em;
}

.ivu-modal-footer {
    border-top: none;
}

 .ivu-modal {
    top: 300px;
}

.ivu-tooltip-inner {
    max-width: none;
    white-space: normal;
    word-break: break-all;
}

.ivu-btn-primary {
    border: 0;
    outline: none;
    text-align: center;
    color: #fff;
    min-width: 120px;
    height: 36px;
    background: -webkit-linear-gradient(left, #f4284f, #f35733);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #f4284f, #f35733);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #f4284f, #f35733);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #f4284f, #f35733);
    
    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#f4284f, endColorstr=#f35733);  
}

.ivu-btn-primary:hover {
    background: -webkit-linear-gradient(left, #c3243d, #c2452a);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #c3243d, #c2452a);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #c3243d, #c2452a);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #c3243d, #c2452a);

    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr=#c3243d, endColorstr=#c2452a);  
}

.ivu-btn-ghost {
    min-width: 120px;
    height: 36px;
}

.modal-header {
    text-align: center;
    border-bottom: none;
    font-size: 15px!important;
    font-weight: normal!important;
}

.steps-container {
    position: relative;
    width: 100%;
    background-color: #f33e5c;
    padding: 15px 0;
}

.steps-outer {
    position: relative;
    width: 935px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #fff;
}

.ivu-steps-horizontal>div {
    padding-left: 15px;
}

.ivu-steps-horizontal>div:first-child {
    padding-left: 0;
}

.ivu-steps {
    background: #f33e5c;
}

.ivu-steps .ivu-steps-head {
    background: #f33e5c;
}

.ivu-steps .ivu-steps-title {
    background: #f33e5c;
}

.ivu-steps-item.ivu-steps-status-process .ivu-steps-head-inner {
    border-color: #fff;
    background-color: #fff;
}

.ivu-steps-item.ivu-steps-status-process .ivu-steps-head-inner>.ivu-steps-icon,
.ivu-steps-item.ivu-steps-status-process .ivu-steps-head-inner span {
    color: #666;
}

.ivu-steps-item.ivu-steps-status-process .ivu-steps-content,
.ivu-steps-item.ivu-steps-status-process .ivu-steps-title,
.ivu-steps-item.ivu-steps-status-finish .ivu-steps-content,
.ivu-steps-item.ivu-steps-status-finish .ivu-steps-title {
    color: #fff;
}

.ivu-steps-item.ivu-steps-status-process .ivu-steps-tail>i,
.ivu-steps-item.ivu-steps-status-finish .ivu-steps-tail>i {
    background-color: #fff;
}

.ivu-steps-item.ivu-steps-status-wait .ivu-steps-tail>i {
    background-color: rgba(255, 255, 255, 0.2);
}

.ivu-steps-item.ivu-steps-status-finish .ivu-steps-tail>i:after {
    background-color: #fff;
}

.ivu-steps-item.ivu-steps-status-wait .ivu-steps-content,
.ivu-steps-item.ivu-steps-status-wait .ivu-steps-title {
    color: rgba(255, 255, 255, 0.2);
}

.ivu-steps-item.ivu-steps-status-wait .ivu-steps-head-inner {
    background-color: rgba(255, 255, 255, 0.2);
}

.ivu-steps-item.ivu-steps-status-finish .ivu-steps-head-inner {
    border-color: #fff;
}

.ivu-steps .ivu-steps-head-inner {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.ivu-steps-item.ivu-steps-status-wait .ivu-steps-head-inner>.ivu-steps-icon,
.ivu-steps-item.ivu-steps-status-wait .ivu-steps-head-inner span {
    color: rgba(255, 255, 255, 0.2);
}

/*.ivu-form-item-error-tip:before{
    content:'<Icon type="information-circled"></Icon>';
}*/


.ivu-form .ivu-form-item-label {
    font-size: 14px;
}